body
{
    background-color: rgb(252, 252, 252);
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(96, 96, 96);

    padding-top: 120px;
    padding-left: 270px;
    margin: 0px;

    height: 3000px;
}

p
{
    margin: 0px;
}