body
{
    background-color: rgb(247, 247, 247);
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(96, 96, 96);

    padding-top: 130px;
    padding-left: 160px;
}