body
{
    background-color: rgb(250, 250, 250);
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(96, 96, 96);

    padding-top: 130px;
    padding-left: 184px;
    margin: 0px;

    height: 3000px;
}

p
{
    margin: 0px;
}