main
{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
    column-gap: 20px;

    padding-left: 10px;
}

@media (max-width: 1300px)
{
    main 
    {
        grid-template-columns: 320px 320px;
    }
}

@media (min-width: 1800px)
{
    main 
    {
        grid-template-columns: 320px 320px 320px 320px;
    }  
}