.video-container
{
    padding-bottom: 40px;
}



/* THUMBNAIL AREA */
.video-thumbnail
{

}

.thumbnail
{
    height: 180px;
    width: 320px;
}



/* INFO AREA */
.video-info
{
    margin-top: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.channel-picture
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

    width: 50px;
}

.channel-picture img
{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 20px;
}

.video-text
{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    margin-left: 10px;
}

.video-title
{
    color: black;
    font-size: 16px;
    font-weight: 500;

    width: 230px;
}

.channel-name, .video-stats
{
    margin-top: 5px;
}
